body {
    background-color: #d1dbe4;
    justify-items: center;
    margin: 0;
}
.mainbody {
    height:100vh;
    width:100vw;
    
    display: flex;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.header {
    
    text-align: center;
    color: #194a7a;
    font-size: larger;
    
    

}
.container {
    height: auto;
    width: 350px;
    
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
    



}
.btn{
    height:100px;
    width: 100px;
    background-color: #156ab9;
    color :brown;
    border-radius: 5px;
    box-shadow:2px 4px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
    
    
}
.btn:hover {
    background-color: #899db3;
    transform: scale(1.01);
}
.rsb {
    display: block;
    margin: 20px auto; 
    margin-top: 50px; /* auto centers horizontally */
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: #7593af;
    color: white;
    cursor: pointer;
    box-shadow: 2px 4px 1px 1px rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s ease, transform 0.1s ease;
   
}
.rsb:hover {
  background-color: #899db3;
  transform: scale(1.05);
}
.newb {
    display: block;
    
     /* auto centers horizontally */
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: #7593af;
    color: white;
    cursor: pointer;
    box-shadow: 2px 4px 1px 1px rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s ease, transform 0.1s ease;
   
}
.newb:hover {
  background-color: #899db3;
  transform: scale(1.05);
}

#new-cont{
    text-align: center;
    align-items: center;
    
    
    justify-items: center;
    
    
}
#winner{
    font-size: 40px;
    margin-bottom: 15px;
    color:#194a7a;
}
.hide{
    display: none;
}